@{
    ViewData["Title"] = "Home Page";
}


<div class="password-wrapper">
    <input id="passvalue" type="text" class="input" name="password">
    <div class="icon-wrapper">
        <span onclick="getpass()" toggle="#passvalue" class="ion ion-eye field-icon toggle-password"></span>
    </div>

    <div class="strength-lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>